// Fonts

//fonts
$ffMontserrat: 'Montserrat';
$ffNunito: 'Nunito';
$iconFamily: 'Icomoon';
$ff: $ffNunito, Arial, Helvetica, sans-serif;
$fz: 16px;
$lh: 1.5;
$lhP: 1.75;

//fonts weight
$fwExtraBold: 800;
$fwBold: 700;
$fwSemiBold: 600;
$fwMedium: 500;
$fwRegular: 400;
$fwLight: 300;
//fonts style
$fsItalic: italic;